<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Loan Management System</title>

    

</head>

<body align="center">

<form action="/login">
<br>
<br>
<br>
<br>
<br>
<br><br><br><br>
<b>BankAccountNo</b> &nbsp;<input type="text" name="accountno" placeholder="BankAccountNo">
<br>
<br>
<b>password</b> &emsp;&emsp;&emsp;&nbsp;<input type="password" name="password" placeholder="Password">
<br>
<br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="submit" name="submit" value="Log In">
<br>
<br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/showNewUserForm">New Customer? Register here</a>
</form>
   </body>

</html>